In [83]:
from config.config import DATA_MODEL_DIR, ESTACIONS_DIR, SWAT_PREDICTIONS_DIR, LSTM_DATA_DIR
import pandas as pd
import hvplot.pandas # noqa: adds hvplot method to pandas objects
from holoviews.element.tiles import EsriImagery
import geopandas as gpd
import holoviews as hv

In [27]:
precipitation_stations_path = DATA_MODEL_DIR / 'swat files 2022' / 'pcp.txt'
temperature_stations_path = DATA_MODEL_DIR / 'swat files 2022' / 'tmp.txt'

In [37]:
df = pd.read_csv(precipitation_stations_path)
df2 = pd.read_csv(temperature_stations_path)
df

      ID         NAME        LAT      LONG  ELEVATION
0      1   pAbadesses  42.221664  2.243255        725
1      2      pAbrera  41.510746  1.917310         58
2      3  pAmetllaMar  40.909130  0.764308         96
3      4      pAngles  41.960120  2.631770        150
4      5    pArbucies  41.840062  2.418776        956
..   ...          ...        ...       ...        ...
134  135    pVilassar  41.511712  2.386767         44
135  136      pVilobi  41.885446  2.741051        118
136  137    pVilomara  41.675329  1.875608        284
137  138    pVilosell  41.384348  0.946214        677
138  139     pVinyols  41.080867  1.066151         31

[139 rows x 5 columns]

In [31]:
gdf = gpd.GeoDataFrame(
    df, geometry=gpd.points_from_xy(df.LONG, df.LAT)
)

gdf

,ID,NAME,LAT,LONG,ELEVATION,geometry
0,1,pAbadesses,42.221664,2.243255,725,POINT (2.24326 42.22166)
1,2,pAbrera,41.510746,1.917310,58,POINT (1.91731 41.51075)
2,3,pAmetllaMar,40.909130,0.764308,96,POINT (0.76431 40.90913)
3,4,pAngles,41.960120,2.631770,150,POINT (2.63177 41.96012)
4,5,pArbucies,41.840062,2.418776,956,POINT (2.41878 41.84006)
...,...,...,...,...,...,...
134,135,pVilassar,41.511712,2.386767,44,POINT (2.38677 41.51171)
135,136,pVilobi,41.885446,2.741051,118,POINT (2.74105 41.88545)
136,137,pVilomara,41.675329,1.875608,284,POINT (1.87561 41.67533)
137,138,pVilosell,41.384348,0.946214,677,POINT (0.94621 41.38435)
138,139,pVinyols,41.080867,1.066151,31,POINT (1.06615 41.08087)

In [78]:
a = gdf.hvplot.points(x='LONG', y='LAT', geo=True, c='red', tiles='EsriImagery').opts(width = 700, height = 700)

In [79]:
b = df2.hvplot.points(x='LONG', y='LAT', geo=True, tiles='EsriImagery', c = 'red').opts(width = 700, height = 700)

In [81]:
map = a + b

In [87]:
hv.save(map, 'C:\\Users\\joans\\OneDrive\\Escriptori\\master\\tfm\\tfm\\figures\\meteo.png')